:root{
  --light-blue:#00FFFF;
  --yellow:#F5CD19;
  --red:#FF0707;
  --yellow-text:#ddc96d;
  --red-text:#af4747;
  --grey-light:#777;
  --grey-dark:#555;
  --green:#50fc1c;
  --black-background: #1f1f1f;
  --black-transparent:rgba(66, 66, 66, 0.5);
  --white-text:#afafaf;
  --grey-background:rgb(59, 59, 59);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}


html{
  width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body{
  width: 100%;
    height: 1;
    margin: 0px;
    padding: 0px;
}

#mainPage{
  height:100vh;
  }


body{
  overflow: hidden;
}

/* .bar{
  background-color: var(--grey-background);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 100%;
} */

